@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">We successfully achieved the Automatic CI/CD Pipelines</h1>
    <a href="https://www.javatpoint.com/yaml" target="_blank">Visit JavatPoint!</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
